body {
    font-family: sans-serif;
    
  }

  #fqs{
    background-color: rgb(227, 249, 249);
    padding: 10px;
  }
  h1, h2 {
    
  }

  #faqs {
    margin-bottom: 40px;
    padding: 10px;
    margin-right: 8%;
    margin-left: 8%;
  }

  #text-faqs{
    margin-bottom: 20px;
    text-align: center;
  }
  
  details {
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
  }
  
  details summary {
    cursor: pointer;
    font-weight: bold;
  }
  
  #founder{
    margin: 10%;
    padding-left: 5px;
    display: flex;
    
  }

  #founder-message {
    align-items: right; 
    padding: 10px;
  }
  
  #founder-image {
    width: 200px; 
    height: 200px; 
    border-radius: 5px; 
    margin-left: 20px; 
  }
  
  footer{
    background-color: rgb(30, 118, 74);
    padding: 10px;
  }
  #footer-text{
    text-align: center;
    color: gold;
    text-decoration: none;
  }
  footer li{
    list-style: none;
    display: inline;
    color: antiquewhite;
    padding: 5px;
  }
  .footer-lorem{
    padding-top: 50px;
    padding: 10px;
    margin-right: 20%;
    margin-left: 20%;
  }



  
  /* Add more CSS styles as needed */
  